In [82]:
from datetime import datetime
#from pathlib import Path
#from zipfile import ZipFile

import pandas as pd

### Step 1: Ingest data

In [83]:
# Files too large for Github but I've left the code for unzipping here anyway. Note that originally the zipped folder was in a 
# data directory that I had created so if you try to run you'll need to move the zipped folder into a data directory at the top-level
# of the repo.
"""
DATA_FOLDER = Path("./data")

with ZipFile(DATA_FOLDER / "simulacrum_v2.1.0.zip") as zf:
    for file_name in ["sim_av_tumour.csv", "sim_av_patient.csv"]:
        # Path not needed according to Zipfile documentation: https://svn.python.org/projects/python/trunk/Lib/zipfile.py
        zf.extract(f"simulacrum_v2.1.0/Data/{file_name}", DATA_FOLDER / "unzipped_data")
"""

'\nDATA_FOLDER = Path("./data")\n\nwith ZipFile(DATA_FOLDER / "simulacrum_v2.1.0.zip") as zf:\n    for file_name in ["sim_av_tumour.csv", "sim_av_patient.csv"]:\n        # Path not needed according to Zipfile documentation: https://svn.python.org/projects/python/trunk/Lib/zipfile.py\n        zf.extract(f"simulacrum_v2.1.0/Data/{file_name}", DATA_FOLDER / "unzipped_data")\n'

In [84]:
tumours = pd.read_csv("sim_av_tumour.csv", low_memory=False)

# Quick look at the imported CSVs.
tumours.head(5)

,TUMOURID,GENDER,PATIENTID,DIAGNOSISDATEBEST,SITE_ICD10_O2_3CHAR,SITE_ICD10_O2,SITE_ICD10R4_O2_3CHAR_FROM2013,SITE_ICD10R4_O2_FROM2013,SITE_ICDO3REV2011,SITE_ICDO3REV2011_3CHAR,...,QUINTILE_2019,DATE_FIRST_SURGERY,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CHRL_TOT_27_03,COMORBIDITIES_27_03,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED
0,10399610,1,10000001,2017-03-31,C44,C444,C44,C444,C444,C44,...,4,NaN,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN
1,10694862,1,10000002,2016-01-14,C44,C449,C44,C449,C449,C44,...,5 - least deprived,2016-01-14,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,11938715,2,10000003,2018-12-10,C44,C442,C44,C442,C442,C44,...,3,2018-12-10,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,11869010,1,10000004,2018-04-05,C44,C449,C44,C449,C449,C44,...,4,NaN,C,0.0,1.0,06,NaN,NaN,NaN,NaN
4,11037077,1,10000005,2018-04-23,C44,C446,C44,C446,C446,C44,...,3,2018-04-23,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [85]:
patients = pd.read_csv("sim_av_patient.csv")
patients.head(5)

,PATIENTID,GENDER,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,VITALSTATUS,VITALSTATUSDATE,LINKNUMBER
0,10000001,1,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2022-07-05,101610884
1,10000002,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,2022-07-05,101343783
2,10000003,2,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2022-07-05,101560124
3,10000004,1,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2022-07-05,101833580
4,10000005,1,A,NaN,NaN,NaN,NaN,NaN,NaN,A,2022-07-05,100957799

### Step 2: Summarise missing values

In [86]:
# Missing values in patients dataset.
patients.isnull().sum()

PATIENTID                          0
GENDER                             0
ETHNICITY                      90494
DEATHCAUSECODE_1A            1248518
DEATHCAUSECODE_1B            1700480
DEATHCAUSECODE_1C            1860963
DEATHCAUSECODE_2             1588067
DEATHCAUSECODE_UNDERLYING    1248518
DEATHLOCATIONCODE            1246675
VITALSTATUS                        0
VITALSTATUSDATE                 1843
LINKNUMBER                         0
dtype: int64

In [87]:
# Verify above code worked by focusing on Ethnicity column:
test = patients["ETHNICITY"].isnull()
test[test == True].count()

np.int64(90494)

In [88]:
# Missing values in tumours dataset.
tumours.isnull().sum()

TUMOURID                                0
GENDER                                  0
PATIENTID                               0
DIAGNOSISDATEBEST                       0
SITE_ICD10_O2_3CHAR                     0
SITE_ICD10_O2                           0
SITE_ICD10R4_O2_3CHAR_FROM2013          0
SITE_ICD10R4_O2_FROM2013                0
SITE_ICDO3REV2011                       4
SITE_ICDO3REV2011_3CHAR                 4
MORPH_ICD10_O2                          0
MORPH_ICDO3REV2011                     32
BEHAVIOUR_ICD10_O2                      0
BEHAVIOUR_ICDO3REV2011                  0
T_BEST                            1035148
N_BEST                            1135720
M_BEST                            1135603
STAGE_BEST                           1900
GRADE                                   0
AGE                                     0
CREG_CODE                               0
STAGE_BEST_SYSTEM                  770751
LATERALITY                              0
SCREENINGSTATUSFULL_CODE          1817326
ER_STATUS                         1819257
PR_STATUS                         1875024
HER2_STATUS                       1838397
QUINTILE_2019                           0
DATE_FIRST_SURGERY                 725085
CANCERCAREPLANINTENT              1223497
PERFORMANCESTATUS                 1203232
CHRL_TOT_27_03                       4331
COMORBIDITIES_27_03               1567658
GLEASON_PRIMARY                   1848168
GLEASON_SECONDARY                 1848163
GLEASON_TERTIARY                  1989615
GLEASON_COMBINED                  1848176
dtype: int64

### Step 3: New VitalStatusDate year column.

In [89]:
def extract_year(vital_dt_string: str) -> datetime | None:
    """
    Extract year from the VITALSTATUSDATE string.
    """
    try:
        return datetime.strptime(vital_dt_string, "%Y-%m-%d").year
    except TypeError:
        pass

# Two options:

# Option 1 - returns a string/object:
patients["VitalStatusDate_Year"] = patients["VITALSTATUSDATE"].str.extract("^([0-9]{4})")

# Option 2 - returns a float:
patients["VitalStatusDate_Year"] = patients["VITALSTATUSDATE"].apply(extract_year)

# Double check it worked:
patients[["VITALSTATUSDATE", "VitalStatusDate_Year"]]

        VITALSTATUSDATE  VitalStatusDate_Year
0            2022-07-05                2022.0
1            2022-07-05                2022.0
2            2022-07-05                2022.0
3            2022-07-05                2022.0
4            2022-07-05                2022.0
...                 ...                   ...
1871600      2022-07-05                2022.0
1871601      2021-06-10                2021.0
1871602      2022-06-10                2022.0
1871603      2019-09-25                2019.0
1871604      2020-05-24                2020.0

[1871605 rows x 2 columns]

## Step 4: Summarise the data by age and sex distribution of patients

In [92]:
combined_df = pd.merge(patients, tumours, on="PATIENTID")
# Taking a look at the merged datasets:
combined_df.head(2)

,PATIENTID,GENDER_x,ETHNICITY,DEATHCAUSECODE_1A,DEATHCAUSECODE_1B,DEATHCAUSECODE_1C,DEATHCAUSECODE_2,DEATHCAUSECODE_UNDERLYING,DEATHLOCATIONCODE,VITALSTATUS,...,QUINTILE_2019,DATE_FIRST_SURGERY,CANCERCAREPLANINTENT,PERFORMANCESTATUS,CHRL_TOT_27_03,COMORBIDITIES_27_03,GLEASON_PRIMARY,GLEASON_SECONDARY,GLEASON_TERTIARY,GLEASON_COMBINED
0,10000001,1,A,NaN,NaN,NaN,NaN,NaN,NaN,A,...,4,NaN,NaN,3.0,0.0,NaN,NaN,NaN,NaN,NaN
1,10000002,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,...,5 - least deprived,2016-01-14,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [93]:
combined_df.groupby(["GENDER_x", "AGE"]).PATIENTID.nunique()

GENDER_x  AGE
1         0      409
          1      335
          2      372
          3      338
          4      350
                ...
2         105     14
          106      4
          107      1
9         81       1
          90       1
Name: PATIENTID, Length: 217, dtype: int64

## Step 5. Summarise the comorbidities of the patients in the dataset

I'm going to treat multiple tumours as the definition of comorbidities in this context.

In [94]:
comorbidities = combined_df.groupby("PATIENTID").TUMOURID.nunique().sort_values(ascending=False)
comorbidities

PATIENTID
10279408     6
80068121     6
200001809    5
200004371    5
140001359    5
            ..
20164233     1
20164232     1
20164231     1
20164230     1
40045262     1
Name: TUMOURID, Length: 1871605, dtype: int64

In [95]:
# I haven't filtered out patients with just one tumour as I thought it would be interesting to see the comparison.
comorbidities.groupby(comorbidities).count()

TUMOURID
1    1755702
2     108402
3       6980
4        483
5         36
6          2
Name: TUMOURID, dtype: int64

In [97]:
# Percentage of total breakdown.
comorbidities.groupby(comorbidities).count() / comorbidities.sum() * 100

TUMOURID
1    87.979976
2     5.432132
3     0.349775
4     0.024204
5     0.001804
6     0.000100
Name: TUMOURID, dtype: float64

## Step 6

### a) Summarise the percentage of each ethnic group for the most deprived income-level group.

In [98]:
# Check to see what value is being used for the most deprived income-level.
unique_income_level = combined_df["QUINTILE_2019"].drop_duplicates()
unique_income_level

0                      4
1     5 - least deprived
2                      3
14                     2
17     1 - most deprived
Name: QUINTILE_2019, dtype: object

In [99]:
most_deprived_ethnic_group = combined_df[combined_df["QUINTILE_2019"]=="1 - most deprived"].groupby("ETHNICITY").PATIENTID.nunique()
most_deprived_ethnic_group.sort_values(ascending=False)

ETHNICITY
A    257343
C     11651
Z     10870
S      4107
B      3056
H      2756
M      2509
X      2252
J      2102
N      2047
L      1904
P      1050
R       767
G       656
K       634
D       372
F       276
E       208
0        29
Name: PATIENTID, dtype: int64

In [101]:
((most_deprived_ethnic_group / most_deprived_ethnic_group.sum()) * 100).sort_values(ascending=False)

ETHNICITY
A    84.488606
C     3.825155
Z     3.568743
S     1.348374
B     1.003319
H     0.904826
M     0.823733
X     0.739357
J     0.690110
N     0.672053
L     0.625105
P     0.344727
R     0.251815
G     0.215372
K     0.208149
D     0.122132
F     0.090614
E     0.068289
0     0.009521
Name: PATIENTID, dtype: float64

### b) Which ethnic groups have a higher proportion of lower income earners within it?

In [102]:
ethnic_lowest_income = combined_df[combined_df["QUINTILE_2019"]=="1 - most deprived"].groupby("ETHNICITY").PATIENTID.nunique().sort_values(ascending=False)
ethnic_lowest_income

ETHNICITY
A    257343
C     11651
Z     10870
S      4107
B      3056
H      2756
M      2509
X      2252
J      2102
N      2047
L      1904
P      1050
R       767
G       656
K       634
D       372
F       276
E       208
0        29
Name: PATIENTID, dtype: int64

In [103]:
ethnic_total_users = combined_df.groupby("ETHNICITY").PATIENTID.nunique()
ethnic_total_users.sort_values(ascending=False)

ETHNICITY
A     1525829
Z       67078
C       61672
S       20734
B       16038
H       15225
X       14812
M       12075
N        9680
J        9357
L        8989
P        5199
R        3787
G        3338
K        2849
D        1907
F        1410
E         953
0         172
8           3
CA          2
CP          1
CH          1
Name: PATIENTID, dtype: int64

In [104]:
ethnic_groups_high_proportion_of_low_income = (ethnic_lowest_income / ethnic_total_users).sort_values(ascending=False)
ethnic_groups_high_proportion_of_low_income

ETHNICITY
J     0.224645
K     0.222534
E     0.218258
L     0.211814
N     0.211467
M     0.207785
R     0.202535
P     0.201962
S     0.198080
G     0.196525
F     0.195745
D     0.195071
B     0.190547
C     0.188919
H     0.181018
A     0.168658
0     0.168605
Z     0.162050
X     0.152039
8          NaN
CA         NaN
CH         NaN
CP         NaN
Name: PATIENTID, dtype: float64

In [105]:
# Top 5 ethnic groups with largest proportion of low-income earners
ethnic_groups_high_proportion_of_low_income.head(5)

ETHNICITY
J    0.224645
K    0.222534
E    0.218258
L    0.211814
N    0.211467
Name: PATIENTID, dtype: float64